
.h1, .h2, .h3 {
  color: rgb(90, 102, 102);
}

@media (min-width: 992px) {
  #header {
      background-color: #0F0;
      text-align: left;
    }
  #col1, #col2, #col3 {
    background-color: #F00;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    height: 300px;
  }
  #col1 {
    margin-right: 0px;
  }
  #col2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  #col3 {
    margin-left: 0px;
  }
  
  #footer1 {
    background-color: #FF0;
    text-align: right;
    margin-right: 0px;
  }
  #footer2 {
    background-color: #FF0;
    text-align: left;
    margin-left: 0px;
  }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #header {
        background-color: #0FF;
      }
      #col1, #col2, #col3 {
        margin-top: 10px;
        padding: 15px;
        align-items: center;
        font-size: 50;
      }
    #col1, #col2 {
      background-color: #F00;
    }
    #col1 {
      text-align: left;
      margin-right: 5px;
    }
    #col2 {
      text-align: right;
      margin-left: 5px;
    }
    #col3 {
      background-color: #0F0;
      text-align: center;
    }
    #footer1, #footer2 {
      background-color: #FF0;
      margin-top: 5px;
      text-align: center;
    }
    }

    
    @media /*(min-width: 576px) and */(max-width: 768px) {
    #header {
        background-color: #FFB380;
        text-align: center;
    }
    #col1, #col2, #col3 {
      margin-top: 5px;
      padding: 15px;
      align-items: center;
      font-size: 50;
    }
    #col1 {
      text-align: left;
    }
    #col1, #col3 {
      background-color: #F00;
    }
    #col3 {
      text-align: right;
    }
    #col2 {
      background-color: #0FF;
      text-align: center;
    }
    #footer1, #footer2 {
      background-color: #FF0;
      margin-top: 5px;
      text-align: center;
    }
    }